  
  .chart-card {
    width: 40rem;
    /* border: 1px solid #000; */
    height: 16rem;
    border-radius: 1rem;
    width: 40%;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
  }

  .chart-card .ant-card-head {
    height: 3rem !important;
  }

  .chart-card .ant-card-head-title {
    text-align: left;
    min-height: 2rem !important;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) !important; */
  }
  
