#scrollableDiv {
    height: 16rem;
    overflow: auto;
    padding: 0 1rem;
    border: 1px solid rgba(140, 140, 140, 0.35);
    border-radius: 1rem;
    width: 30%;
    background-color: #fff;

    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
  }
  
  .mismatch-header {
    text-align: left;
    min-height: 2rem !important;
    font-size: 1.125rem;
    font-weight: 600;
    color: #192975;
    padding-top: 1rem;
  }
  
  .list-item {
    padding: 1rem;
    border-bottom: 1px solid rgba(140, 140, 140, 0.35);
    display: flex;
    /* align-items: center; */
    justify-content: space-between !important;
    /* flex-wrap: wrap; */
    text-align: left;
  }
  
  .list-item-content {
    flex: 1 0 auto;
  }
  
  .list-item-action {
    flex: 0 1 auto;
    /* margin-left: 7rem; */
  }
  
  .list-item-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
  }

  .list-item-content div:first-child {
    font-weight: bold;
  }
  
  .list-item-content div:last-child {
    color: rgba(0, 0, 0, 0.45);
  }
  
  .list-item:hover {
    background-color: rgba(140, 140, 140, 0.1);
  }
  
 
  