.header-table .ant-table-thead > tr > th {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .virtual-table .ant-table-tbody > tr.ant-table-row:nth-child(odd) {
    background-color: #fafafa;
  }
  